<ul
  *ngIf="ingredients != undefined && ingredients.length > 0"
  class="w-6/12 mx-auto"
>
  <li
    *ngFor="let ingredient of ingredients"
    class="py-2 px-4 bg-zinc-100 border-purple-400 flex items-center mb-2"
  >
    <span class="flex-auto">{{ ingredient.name }}</span>
    <span class="bg-purple-400 font-bold px-2 rounded"
      >{{ ingredient.quantity }} cl</span
    >
  </li>
</ul>

<p
  *ngIf="ingredients == undefined"
  class="text-white text-lg font-bold text-center"
>
  Votre panier est vide, veuillez ajouter un ou plusieurs cocktails afin
  d'alimenter celui-ci
</p>
