<h3 class="text-3xl text-white text-center">Formulaire à venir</h3>

<form [formGroup]="cocktailForm" (ngSubmit)="submitForm()" class="my-4">
  <div class="bg-slate-50 py-4 px-8 mb-2 flex flex-col">
    <label for="name" class="mb-2 font-bold">Nom: </label>
    <input
      type="text"
      placeholder="le nom du cocktail"
      class="py-2 px-4 bg-slate-100 border"
      id="name"
      formControlName="name"
    />
  </div>

  <div class="bg-slate-50 py-4 px-8 mb-2 flex flex-col">
    <label for="urlImage" class="mb-2 font-bold">Image: </label>
    <input
      type="text"
      placeholder="L'URL de l'image représentant le cocktail"
      class="py-2 px-4 bg-slate-100 border"
      id="urlImage"
      formControlName="img"
    />
  </div>

  <div class="bg-slate-50 py-4 px-8 mb-2 flex flex-col">
    <label for="description" class="mb-2 font-bold">description: </label>
    <input
      type="text"
      placeholder="la description du cocktail"
      class="py-2 px-4 bg-slate-100 border"
      id="description"
      formControlName="description"
    />
  </div>

  <div class="flex justify-between mt-8">
    <button
      class="btn py-2 px-4 uppercase font-bold rounded bg-purple-400 text-slate-100 hover:bg-purple-600 cursor-pointer"
    >
      Valider le nouveau cocktail
    </button>

    <button
      class="btn py-2 px-4 uppercase font-bold rounded bg-purple-950 text-slate-100 hover:bg-purple-600 cursor-pointer"
      routerLink=".."
    >
      Annuler
    </button>
  </div>
</form>
