<h3 class="text-3xl text-white text-center">Formulaire à venir</h3>

<form [formGroup]="cocktailForm" (ngSubmit)="submitForm()" class="my-4">
  <!-- Nouveau cocktail -->
  <section class="bg-slate-50">
    <!-- Nom -->
    <div class="pt-8 px-8 mb-2 flex flex-col">
      <label for="name" class="mb-2 font-bold">Nom: </label>
      <input
        type="text"
        placeholder="le nom du cocktail"
        class="py-2 px-4 bg-slate-100 border"
        id="name"
        formControlName="name"
      />
    </div>

    <!-- L'image -->
    <div class="bg-slate-50 py-1 px-8 mb-2 flex flex-col">
      <label for="urlImage" class="mb-2 font-bold">Image: </label>
      <input
        type="text"
        placeholder="L'URL de l'image représentant le cocktail"
        class="py-2 px-4 bg-slate-100 border"
        id="urlImage"
        formControlName="img"
      />
    </div>

    <!-- La description -->
    <div class="bg-slate-50 pb-8 px-8 mb-2 flex flex-col">
      <label for="description" class="mb-2 font-bold">description: </label>
      <textarea
        type="text"
        placeholder="la description du cocktail"
        class="py-2 px-4 bg-slate-100 border resize-none"
        id="description"
        formControlName="description"
        rows="3"
      ></textarea>
    </div>
  </section>

  <!-- Bouton Ajouter un ingredient -->
  <div class="flex justify-center my-4">
    <button
      class="btn py-2 px-4 uppercase font-bold rounded bg-purple-400 text-slate-100 hover:bg-purple-600 cursor-pointer"
      (click)="addIngredient()"
      type="button"
    >
      Ajouter un ingrédient
    </button>
  </div>

  <!-- Ingrédients -->
  <section class="bg-slate-50" formArrayName="ingredients">
    <div
      [formGroupName]="index"
      *ngFor="
        let ingredient of ingredients.controls;
        let index = index;
        let first = first
      "
    >
      <!-- Nom -->
      <div class="pt-8 px-8 mb-2 flex flex-col">
        <label for="name" class="mb-2 font-bold">Nom : </label>
        <input
          type="text"
          placeholder="le nom de l'ingrédient"
          class="py-2 px-4 bg-slate-100 border"
          id="name"
          formControlName="name"
        />
      </div>

      <!-- Quantité en centilitre -->
      <div class="pb-8 px-8 mb-2 flex flex-col">
        <label for="quantity" class="mb-2 font-bold"
          >Quantité en centilitre :
        </label>
        <input
          type="number"
          placeholder="la quantitée"
          class="py-2 px-4 bg-slate-100 border"
          id="quantity"
          formControlName="quantity"
        />
      </div>
    </div>
  </section>

  <div class="flex justify-between mt-8">
    <button
      class="btn py-2 px-4 uppercase font-bold rounded bg-purple-400 text-slate-100 hover:bg-purple-600 cursor-pointer"
    >
      Valider le nouveau cocktail
    </button>

    <button
      class="btn py-2 px-4 uppercase font-bold rounded bg-purple-950 text-slate-100 hover:bg-purple-600 cursor-pointer"
      routerLink=".."
    >
      Annuler
    </button>
  </div>
</form>
