<div
  class="xl:container xl:mx-auto flex-auto bg-slate-700 grid md:grid-cols-2 divide-y-2 md:divide-y-0 sm:divide-x-2 divide-purple-400 gap-4"
>
  <div
    style="height: calc(100vh - 3.5rem)"
    class="cols-span-1 py-12 px-8 flex flex-col"
  >
    <app-cocktail-list
      (cocktailSelectionner)="checkMyCocktail($event)"
      [cocktails]="cocktails"
      [selectedCocktail]="selectedCocktail"
    ></app-cocktail-list>
  </div>
  <div class="cols-span-1 py-12 px-8 flex flex-col">
    <app-cocktail-details [cocktail]="selectedCocktail"></app-cocktail-details>
  </div>
</div>
